.parking_container {
    margin-top: 25px;
    width: 100vw;
}
.ticket_block {
    width: 60%;
    height: 300px;
    margin: 0 auto;
    /* background-color: #2D91EB; */
    border-radius: 28px;
    border-width: 2px;
    box-shadow: 4px 9px 12px 1px rgba(0,  0,  0, 0.53);
}
.block_one {
    height: 15%;
    background-color: #182D55;
    border-radius: 28px 28px 0px 0px;
}
.block_two {
    height: 70%;
    display: flex;
}
.two_one {
    width: 15%;
}
.two_one_img_logo {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two_one_img_logo img {
    width: 100px;
    height: 50px;
}

.two_one_img_logo_qr  {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two_one_img_logo_qr img {
    width: 80px;
    height: 80px;
} 

.two_two {
    width: 45%;
    border-right: 1px solid black;
}
.two_three {
    width: 40%;
    height: 100%;
}
.two_three_date {
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
}
.two_three_btn {
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.two_three_btn button {
    color: #f1f1f1;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 30px;
    background-color: #2D91EB;
    border-radius: 12px;
    transition: .2s ease-in-out;
}
.two_three_btn button:hover {
    background-color: #ffc500;
    /* scale: 1.1; */
}
.two_three_btn button:active {
    background-color: #ffc500;
    scale: 0.9;
}
.block_three {
    height: 15%;
    background-color: #182D55;
    border-radius: 0px 0px 28px 28px;
}
.block_questions {
   width: 70%;
   margin: 0 auto;
   margin-top: 20px;
   background-color: #182D55; 
   color: #f1f1f1;
   border-radius: 28px;
}
.Text_test {
    background-color: #182D55;
}
.questions_btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}
.ico_btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all .20s cubic-bezier(0.4, 0.0, 0.2, 1);
  /*   border: 2px solid; */
  }
  
  .ico_btn__plus{
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);;
  }
  
  .ico_btn__plus::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    
    transform: rotate(90deg);
  }
  
  .ico_btn.is-active .ico_btn__plus{
    transform: rotate(225deg);
  }